<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="css/login.css">

<div class="container-fluid auth-container">
  <div class="row h-100">
    <div class="col-md-6 auth-left d-none d-md-block">
        <div class="auth-left-content">
        </div>
      </div>

    <!-- RIGHT SIDE -->
    <div class="col-md-6 auth-right">
      <div class="auth-card">

        <h2 class="mb-1">Login</h2>
        <p class="text-muted mb-4">Welcome back to WonderStay</p>

        <form action="/login" method="POST">

          <!-- USERNAME -->
          <div class="mb-3">
            <label class="form-label">Username</label>
            <div class="input-group">
              <input
                name="username"
                type="text"
                class="form-control"
                required
              >
              <span class="input-group-text">
                <i class="ph-fill ph-user-circle"></i>
              </span>
            </div>
          </div>

          <!-- PASSWORD -->
          <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="input-group">
              <input
                name="password"
                type="password"
                class="form-control"
                required
              >
              <span class="input-group-text">
                <i class="ph-fill ph-lock"></i>
              </span>
            </div>
          </div>

          <button class="btn w-100 mt-2 rounded-pill" style="background: #fe424d; color: white;">Login</button>

        </form>
      </div>
    </div>

  </div>
</div>




































